# Data Science Tools and Ecosystem

This notebook is part of the final assignments pertaining to the "Tools for Data Science" Course

**Objectives**
- List popular data science languages
- List commonly used libraries
- Create a table listing data science tools
- Evaluate basic arithimetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit Learn

| Data Science Tools |
| ------------------ |
| JupyterLab         |
| RStudio            |
| Miscrosoft SQL Server |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [10]:
# This is a simple arithimetic expression to multiply then add integers:
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author:
Nauman Rasheed